/* Styling the body */
body {
  background: linear-gradient(
    180deg,
    rgba(185, 239, 255, 1) 0%,
    rgba(47, 198, 241, 1) 14%,
    rgba(25, 167, 208, 1) 14%,
    rgba(0, 0, 0, 1) 100%
  );
  margin: 0;
  font-family: sans-serif;
}

/* general style for the scenes */
main > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* changes the font color for the lower scenes */
main > div:nth-of-type(n + 3) {
  color: lightgrey;
}

/* styles the size of the textboxes */
.scene-text-conteiner {
  width: 30vw;
  font-size: 1.5rem;
  left:10px;
}

/* general style for plant images*/
.background-plants-right {
  width: 9vw;
  float: right;
}
.background-plants-left {
  width: 9vw;
}



/* SCENE 1 */
/* Style for scene 1 and the elenent in it */
.cloud {
  width: 50%;
}

.dock {
  width: 50vw;
}

.sun {
  width: 50%;
}

.wave-container > img {
  position: absolute;
  width: 30%;
  bottom: 5vw;
  opacity: 50%;
}

.waves2 {
  right: 40px;
}
