body {
  background: linear-gradient(
    180deg,
    rgba(185, 239, 255, 1) 0%,
    rgba(47, 198, 241, 1) 14%,
    rgba(25, 167, 208, 1) 14%,
    rgba(0, 0, 0, 1) 100%
  );
  margin: 0;
}

main > div {
  height: 100vh;
  width: 100vw;
  border: solid red 4px;
}

.scene-text-conteiner {
  position: absolute;
  width: 30vw;
  font-size: 1.5rem;
  left: 40vw;
  
  opacity: 0;
}

/* Styling scene 1 and its content*/
.scene1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.scene1 div {
  max-height: 50vh;
}

.cloud {
  width: 50%;
}

.dock {
  width: 50vw;
}

.sun {
  width: 50%;
}

.wave-container > img {
  position: absolute;
  width: 30%;
  bottom: 0;
  opacity: 50%;
}

.waves2 {
  right: 30px;
}


/* Styling scene 4 and its content*/
.scene4 {
  color: white;
}



/* Styling scene 5 and its content*/
.scene5 {
  color: white;
}


.appear{
  opacity: 100%;
  -webkit-transition: opacity 550ms ease-in;
  transition: opacity 3s ease-in;
  animation-name: rotate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  from {
    transform: translateX(500px)
  }
  to {
    transform: translateX(0px)
  }
}

.left-animation {
  opacity: 100%;
  -webkit-transition: opacity 550ms ease-in;
  transition: opacity 3s ease-in;
  animation-name: rotate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  from {
    transform: translateX(500px)
  }
  to {
    transform: translateX(0px)
  }
}
