
@keyframes textboxInn{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform: translateY(-40px);
        opacity: 1;
    }
}

@keyframes plantLeftInn{
    0%{
        opacity: 1;
        transform: rotate(13deg) translateX(-90px);
    }
    40%{
        opacity: 1;
        transform: rotate(38deg) translateX(0px);
    }
    60%{
        opacity: 1;
        transform: rotate(38deg) translateX(0px); 
    }
    80%{
        opacity: 1;
        transform: rotate(38deg) translateX(0px);
    }
    100%{
        opacity: 1;
        transform: rotate(38deg) translateX(0px);
    }
}

@keyframes plantRightInn{
    0%{
        opacity: 1;
        transform: rotate(-13deg) translateX(90px);
    }
    40%{
        opacity: 1;
        transform: rotate(-30deg) translateX(0px);
    }
    60%{
        opacity: 1;
        transform: rotate(-30deg) translateX(0px); 
    }
    80%{
        opacity: 1;
        transform: rotate(-30deg) translateX(0px);
    }
    100%{
        opacity: 1;
        transform: rotate(-30deg) translateX(0px);
    }
}

@keyframes bottleThrow{
    0%{
        transform: translateY(4vw);
    }
    60%{
        transform: translateX(20vw) translateY(-20vw) rotate(-200deg);
    }
    
    100%{
        transform: translateX(20vw) translateY(10vw) rotate(-400deg);
        position: fixed;
    }
}


.showTextAnimation{
    animation-name: textboxInn;
    transition: 0.8s;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

.showPlantLeftAnimation{
    animation-name: plantLeftInn;
    transition: 0.8s;
    animation-duration: 3s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
   }

.showPlantRightAnimation {
    animation-name: plantRightInn;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

.throwBottleAnimation{
    animation-name: bottleThrow;
    transition: 2s;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
/*sun animation*/
.sun{
            animation-name: sunMove;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
@keyframes sunMove {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
/*man animation*/
.man{
    animation: walking 0.6s infinite, man-walking 5s forwards;
}
@keyframes walking {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes man-walking {
  0% {
    left: -50%;
  }
  50%{
      left: 25%;
   }
  100% {
    left: -50%;
  }
}

/*Waves animation*/
 .waves-1 {
      animation: animate__wave-1 10s linear;
      animation-iteration-count: 1000;
    }
    @keyframes animate__wave-1 {
      0% {
        background-position-x: 0vw;
      }
      100% {
        background-position-x: -80vw;
      }
    }
  
    .waves-2 {
      animation: animate__wave-2 20s linear infinite;
      animation-delay: 0s;
    }
    @keyframes animate__wave-2 {
      0% {
        background-position-x: 0vw;
      }
      100% {
        background-position-x: 80vw;
      }
    }

    .waves-3 {
      animation: animate__wave-3 10s linear infinite;
      animation-delay: 5s;
    }
    @keyframes animate__wave-3 {
      0% {
        background-position-x: 10vw;
      }
      100% {
        background-position-x: -100vw;
      }
    }

    .waves-4 {
        animation: animate__wave-4 30s linear;
        z-index: 1000;
        animation-iteration-count: 1000;
      }
      @keyframes animate__wave-4 {
        0% {
          background-position-x: 0vw;
        }
        100% {
          background-position-x: 80vw;
        }
      }
  /*Fish scene 2*/
      .fish-blue {
        position: relative;
        animation: animate__blue-fish 20s linear infinite;
        overflow: hidden;
      }
      @keyframes animate__blue-fish {
        0% {
          left: 100vw;
          opacity: 0%;
        }
        80% {
          left: 0vw;
          opacity: 80%;
        }
        100% {
          left: -30vw;
        }
      }
      .fish-black {
        position: absolute;
        animation: animate__black-fish 20s linear infinite;
        overflow: hidden;
      }
      @keyframes animate__black-fish {
        0% {
          left: 100vw;
          
          opacity: 100%;
          z-index: 100;
        }
        80% {
          left: 50vw;
          opacity: 80%;
        }
        100% {
          left: -30vw;
        
        }
      }
      .fish-black-right {
        position: absolute;
        animation: animate-fish-right 10s linear infinite;
        overflow: hidden;
      }
      @keyframes animate-fish-right {
        0% {
          top: 0vh;
          left: 0vw;
          opacity: 100%;
          transform: scale(0.3) rotate(-45deg);
        }
        50% {
          top: 10vh;
          left: 20vw;
          opacity: 100%;
        }
        100% {
          transform: scale(0.3) rotate(-20deg);
          top: 30vh;
          left: -50vw;
          opacity: 100%;
        }
      }
      .fish-black-left {
        position: absolute;
        animation: animate-fish-left 20s linear infinite;
        overflow: hidden;
      }
      @keyframes animate-fish-left {
        0% {
          right: 100vw;
          opacity: 100%;
         top: 0vh;
        }
        100% {
          right: 0vw;
          opacity: 80%;
          top: 10vh;

        }
       
      }
