
@keyframes textboxInn{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    100%{
        transform: translateY(-40px);
        opacity: 1;
    }
}

@keyframes plantLeftInn{
    0%{
        opacity: 1;
        transform: rotate(13deg) translateX(-90px);
    }
    40%{
        opacity: 1;
        transform: rotate(38deg) translateX(0px);
    }
    60%{
        opacity: 1;
        transform: rotate(38deg) translateX(0px); 
    }
    80%{
        opacity: 1;
        transform: rotate(38deg) translateX(0px);
    }
    100%{
        opacity: 1;
        transform: rotate(38deg) translateX(0px);
    }
}

@keyframes plantRightInn{
    0%{
        opacity: 1;
        transform: rotate(-13deg) translateX(90px);
    }
    40%{
        opacity: 1;
        transform: rotate(-30deg) translateX(0px);
    }
    60%{
        opacity: 1;
        transform: rotate(-30deg) translateX(0px); 
    }
    80%{
        opacity: 1;
        transform: rotate(-30deg) translateX(0px);
    }
    100%{
        opacity: 1;
        transform: rotate(-30deg) translateX(0px);
    }
}

@keyframes bottleThrow{
    0%{
        transform: translateY(4vw);
    }
    60%{
        transform: translateX(20vw) translateY(-20vw) rotate(-200deg);
    }
    
    100%{
        transform: translateX(20vw) translateY(10vw) rotate(-400deg);
        position: fixed;
    }
}


.showTextAnimation{
    animation-name: textboxInn;
    transition: 0.8s;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards;
}

.showPlantLeftAnimation{
    animation-name: plantLeftInn;
    transition: 0.8s;
    animation-duration: 3s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
   }

.showPlantRightAnimation {
    animation-name: plantRightInn;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}

.throwBottleAnimation{
    animation-name: bottleThrow;
    transition: 2s;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.sun{
            animation-name: sunMove;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
@keyframes sunMove {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
.man__leg--left {
    transform: rotate(0deg);
    transform-origin: top right;
    animation: left-leg 0.5s infinite alternate;
}

.man__leg--right {
    transform: rotate(0deg);
    transform-origin: top left;
    animation: right-leg 0.5s infinite alternate;
}

@keyframes left-leg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-60deg);
    }
}

@keyframes right-leg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(60deg);
    }
}
@keyframes move-man {
  0% {
    left: -50%;
  }
  100% {
    left: 25%;
  }
}
